html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

body {
    overflow-x: hidden;
}

.row,
.col {
    overflow: hidden;
}

.vertical-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}


/* -------------Top Start------------ */
.top-contact-info a pre {
    font-size: 0.8rem;
    color: #fff;
}

.top-contact-info a svg,
.top-social-icon a svg {
    font-size: 0.8rem !important;
    color: #fff;
}

.top-social-icon a {
    margin: 0 0.2rem;
    padding: 0 0.3rem;
    transition: 0.2s;
    cursor: pointer;
}

.top-social-icon a:hover svg {
    color: rgb(48, 110, 233);
    transform: scale(1.2);
}

/* -------------Top End------------ */

/* -----------Navbar Start----------- */
.Home {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand span {
    color: #3cb878;
}

.badge-notification {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.search-btn {
    padding: .1rem .2rem;
    font-size: 0.8rem;
    margin-right: 0.3rem !important;
}

.search-input {
    font-size: 0.8rem !important;
    padding: 0 0.5rem !important;
    margin: 0 0.1rem !important;
}

.nav-item {
    font-weight: 600;
    margin: 0 1rem;
    transition: 0.3s;

}

.nav-item a,
.nav-cart a svg {
    color: black;
}

.nav-item a.active,
.nav-item a:hover {
    color: #3cb878;
    transform: scale(1.05);
}

/* -----------Navbar End----------- */
/* -------------Breadcrum Start------------- */
.breadcrumb-item a {
    color: #000;
}

/* -----------Breadcrum End------------- */
/* ------------------Product details Start----------------- */
.img-gallery .pro-img {
    width: 330px;
    height: 440px;
}

.product-title,
.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.ratings svg {
    font-size: 0.9rem;
    color: #ff9600;
}

.pro-des {
    font-size: 0.95rem;
    color: #191919cc;
    letter-spacing: 0.025rem;
    line-height: 1.6rem;
}

.pro-scale select,
.quantity input,
.addproduct a {
    border-radius: 0;
    border: 1px solid #e7e9f0;
    font-size: 0.95rem;
}

.quantity button:first-child {
    font-size: 1.2rem;
    padding: .2rem .83rem;
    border-radius: 0;
    border-top: 1px solid #e7e9f0;
    border-bottom: 1px solid #e7e9f0;
    border-left: 1px solid #e7e9f0;
}

.quantity button:last-child {
    font-size: 1.2rem;
    padding: .2rem .83rem;
    border-radius: 0;
    border-top: 1px solid #e7e9f0;
    border-bottom: 1px solid #e7e9f0;
    border-right: 1px solid #e7e9f0;
}

.pro-scale select:focus {
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* ------- owl carousel ------- */
.owl-carousel {
    position: relative !important;
}

.owl-nav {
    position: absolute !important;
    margin: 0px !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 1rem 0 !important;
    display: flex;
    margin: 0 !important;
    justify-content: space-between;
    align-items: center;
}

.owl-next,
.owl-prev {
    position: absolute !important;
    background: #3cb878 !important;
    height: 90%;
    border: none;
    border-radius: 0 !important;
}

.owl-prev span,
.owl-next span {
    font-size: 2rem !important;
    color: white !important;
    padding: 2rem 0.56rem !important;
}

.owl-prev {
    left: 10px !important;
}

.owl-next {
    right: 10px !important;
}

.owl-next:hover,
.owl-prev:hover {
    background: #e7e9f0 !important;
}

.owl-next:hover span,
.owl-prev:hover span {
    color: #000 !important;
}
/* ----- owl carousel end ----- */
/* ------------------Product details End----------------- */
/* ----------- discounts start ------------ */
.tab-pane{
    background: #e7e9f0;
}
.tab-pane p{
    font-size: 0.8rem;
    line-height: 20px;
    text-align: justify;
}
.nav-tabs{
    border: none;
}
.nav-tabs .nav-item{
    margin: 0;
}
.nav-tabs .nav-link{
    font-size: 0.9rem;
    border-radius: 0;
    color: #000;
    margin: 0;
}
.nav-tabs .nav-link.active{
    color: #000;
    background: #e7e9f0;
    border-color: #e7e9f0;
}
/* reviews start */
.reviwer-img{
    width: 60px;
    height: 60px;
}

.review-ratings svg {
    font-size: 0.7rem;
    color: #ff9600;
}
.review-date span{
    font-size: 0.8rem;
    font-style: italic;
}
.ratings-date .divider{
    font-size: 0.8rem;
}
.review-name{
    font-size: 0.9rem;
    font-weight: bold;
}
.add-review-title{
    font-size: 1rem !important;
    font-weight: bold;
} 
textarea,
.user-name input,
.user-email input{
    border-radius: 0 !important;
}
.your-rating span{
    margin: 0;
    font-size: 0.8rem;
    color: #ff9600;
}
.review-ratings p{
    font-size: 0.85rem;
    font-weight: bold;
}
.submit-btn{
    border-radius: 0;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.375rem 1.75rem !important;
}
.submit-btn:focus,
input:focus,
textarea:focus{
    box-shadow: none !important;
}
/* reviews end */
/* ----------- discounts end ------------ */
/* --------------Discount Start------------- */
.discount-footer p,
.discount-social-icon a svg {
    font-size: 0.85rem;
    color: #000;
}

.discount-social-icon a:hover svg {
    color: #0d6efd;
    transform: scale(1.1);
}

.discount .row {
    border: 2px solid #e7e9f0;
}

.discount-social-icon {
    border-left: 2px solid #e7e9f0;
    border-right: 2px solid #e7e9f0;
}

/* --------------Discount End------------- */
/* -------------Information Start-------------- */
.info-item li a,
.info-item li span {
    color: #000;
    font-size: 0.8rem;
}

.info-item li a:hover {
    text-decoration: underline;
}

.information .title {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.info-item svg {
    font-size: 0.75rem;
}

.order-place .btn {
    border-radius: 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

.order-place .btn:hover {
    transform: scale(1.1);
    color: #3cb878;
    background-color: #ffffff;
}

/* -------------Information End-------------- */
/* --------- Footer Start---------- */
.footer {
    background-color: #000;
}

.copy-right p {
    text-align: center;
    font-size: 0.8rem;
}

.bank-card-item {
    margin: 0 4px;
}

.bank-card-item img {
    width: 35px;
}

/* --------- Footer End ---------- */
/* ============= Custom Responsive =============== */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {

    /* -----------discount------------ */
    .discount-social-icon a svg {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 768px) {

    /* -----------home------------ */
    .nav-cart {
        width: auto;
    }

    /* ---------discount---------- */
    .discount-social-icon a svg {
        font-size: 1rem;
    }

    /* ------------------- */

}

@media only screen and (max-width: 576px) {

    /* ------------top--------------- */
    .top .container {
        display: block !important;
    }

    .top-social-icon {
        text-align: center;
    }

    .nav-cart {
        width: 100%;
    }

    /* -------------information------------- */
    .information {
        text-align: center;
    }

    .information h5 {
        margin: 5px 0 0 0;
    }

    .info-item:last-child li {
        justify-content: center;
    }

    /* --------------------------- */

}


@media only screen and (max-width: 300px) {}