html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;
}

.vertical-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.top-contact-info a pre {
  font-size: 0.8rem;
}

.top-contact-info a svg,
.top-social-icon a svg {
  font-size: 0.8rem !important;
}

.top-social-icon a {
  margin: 0 0.2rem;
  padding: 0 0.3rem;
  transition: 0.2s;
  cursor: pointer;
}

.top-social-icon a:hover svg {
  color: rgb(48, 110, 233);
  transform: scale(1.2);
}

/* ---------------------- */
.navbar-brand span {
  color: #3cb878;
}

.badge-notification {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.search-btn {
  padding: .1rem .2rem;
  font-size: 0.8rem;
  margin-right: 0.3rem !important;
}

.search-input {
  font-size: 0.8rem !important;
  padding: 0 0.5rem !important;
  margin: 0 0.1rem !important;
}

.nav-item {
  font-weight: 600;
  margin: 0 1rem;
  transition: 0.3s;

}

.nav-item a,
.nav-cart a svg {
  color: black;
}

.nav-item a.active,
.nav-item a:hover {
  color: #3cb878;
  transform: scale(1.05);
}

/* ------------------- */
.hero-sec {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.banner-content {
  position: absolute;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
  top: 20%;
  left: 20%;
  overflow: hidden;
}

.banner-content h2 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.banner-content p {
  width: 75%;
}

.custom-btn {
  color: #6c757d;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  border-radius: 0;
  border: 2px solid #6c757d;
  position: relative;
}

.custom-btn::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 2px;
  background: #121212;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators {
  bottom: 30px;
}


/* --------------------- */
.card img {
  position: relative;
}

.bestsell-product-item,
.product-item {
  border: none !important;
}

.card-icon {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, 5%);
  transition: 0.3s;
}

.card-icon ul li {
  margin: 5px 0;
}

.card-icon ul li a {
  color: #fff;
  font-size: 0.65rem;
  padding: 5px;
  background: #3cb878;
  height: 25px;
  width: 25px;
}

.bestsell-product-item:hover .card-icon,
.product-item:hover .card-icon {
  opacity: 1;
}

.card-icon ul li a:hover {
  color: rgb(255, 255, 0);
  transform: scale(1.1);
}

.bestsell-product-info .card-title,
.product-info .card-title {
  font-size: 0.95rem;
  font-weight: bold;
}

.bestsell-product-info .card-price,
.product-info .card-price {
  color: #3cb878;
}

.ratings svg {
  font-size: 1rem;
  color: #fbc634;
}

.best-sell-info p {
  font-size: 0.75rem;
}

/* --------------------------- */
.service-cart-col {
  background: #f5f6f9;
  border-right: 2px solid #fff;
}

.service-cart-col:last-child {
  border: none;
}


.service-cart img {
  width: 35px;
}

.service-cart h3 {
  letter-spacing: 0.155rem;
}

.service-cart span {
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

/* ----------------- */
.offer .offer-card:first-child,
.offer .offer-card:last-child {
  background-color: #2e3348;

}

.offer .offer-card:nth-child(2) {
  background-color: #34394f;
}

/* ------------------ */



/* --------- Footer ---------- */
.footer {
  background-color: #000;
}

.copy-right p {
  font-size: 0.8rem;
  text-align: center;
}

.bank-card-item {
  margin: 0 4px;
}

.bank-card-item img {
  width: 35px;
}

/* -------------------- */
.left-col {
  background: url(../img/slide5.png) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 20px;
}

.get-discount-txt {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

.discount-info {
  font-size: 0.8rem;
  color: aliceblue;
  padding: 0 50px;
}

.left-col form a {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.554rem;
}

.right-col {
  background: #e7e9f0;
}

.right-col img {
  width: 55%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* ------------------ */
.discount-footer p,
.discount-social-icon a svg {
  font-size: 0.85rem;
  color: #000;
}

.discount-social-icon a:hover svg {
  color: #0d6efd;
  transform: scale(1.1);
}

.discount .row:nth-child(2) {
  border-bottom: 2px solid #e7e9f0;
}

.discount-social-icon {
  border-left: 2px solid #e7e9f0;
  border-right: 2px solid #e7e9f0;
}

/* --------------------------- */
.info-item li a,
.info-item li span {
  color: #000;
  font-size: 0.8rem;
}

.info-item li a:hover {
  text-decoration: underline;
}

.information .title {
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.info-item svg {
  font-size: 0.75rem;
}

/* ============= Custom Responsive =============== */

@media only screen and (max-width: 1199px) {

  /* ------hero section Start------- */
  .banner-content {
    top: 20%;
  }

  /* ------hero section End------- */
  /* ------BestSell section Start------- */
  .best-sell-info {
    text-align: left;
  }

  /* ------BestSell section End------- */
}

@media only screen and (max-width: 991px) {

  /* ------hero section Start------- */
  .banner-content {
    top: 7%;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .banner-content h2 {
    font-size: 2.5rem;
  }

  /* ------hero section End------- */
  /* ------BestSell section Start------- */
  .best-sell-info {
    text-align: justify;

  }

  .best-sell-info h2 {
    font-size: 1.65rem !important;
    letter-spacing: 0.1rem !important;
  }

  /* ------BestSell section End------- */
  /* ----------------------- */
  .right-col div {
    border: none;
  }

  /* ----------------------- */
  .discount-social-icon a svg {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 767px) {

  /* ------hero section Start------- */
  .banner-content h2 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 0.8rem !important;
  }

  .carousel-indicators {
    display: none;
  }

  /* ------hero section End------- */
  /* ------BestSell section Start------- */
  .best-sell-info {
    text-align: center;
  }

  .best-sell-info h2 {
    font-size: 1.7rem !important;
  }

  .best-sell-info h5 {
    font-size: 0.85rem !important;
  }

  .best-sell-info p {
    font-size: 0.7rem !important;
  }

  .bestsell-product-info .card-title {
    font-size: 0.8rem;
  }

  .bestsell-product-info .card-price {
    font-size: 0.9rem !important;
    margin: 0;
  }

  .ratings svg {
    font-size: 0.8rem;
  }

  /* ------BestSell section End------- */
  /* ------Service&Offer section Start------- */
  .service-cart-col {
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
  }

  .service-cart-col:last-child {
    border: 2px solid #fff;
  }

  /* ------Service&Offer section End------- */
  /* ------------------- */
  .right-col div {
    border: 2px solid #fff;
  }

  /* ------------------- */
  .discount-social-icon a svg {
    font-size: 1rem;
  }

  .nav-cart {
    width: auto;
  }
}

@media only screen and (max-width: 575px) {

  /* Top sec start  */
  .banner-content {
    top: 20px;
    left: 60px;
    padding: 5px;
  }

  .banner-content h2 {
    font-size: 1.1rem;
    margin: 0;
  }

  .banner-content p {
    font-size: 0.7rem !important;
    margin: 2px 0;
  }

  .custom-btn {
    font-size: 0.5rem !important;
    padding: 3px !important;
  }

  .top .container {
    display: block !important;
  }

  .top-social-icon {
    text-align: center;
  }

  .nav-cart {
    width: 100%;
  }

  /* Top sec End  */

  .information {
    text-align: center;
  }

  .information h5 {
    margin: 5px 0 0 0;
  }

  .info-item:last-child li {
    justify-content: center;
  }
}






@media only screen and (max-width: 400px) {
  .banner-content {
    top: 13%;
    left: 10%;
    padding: 5px;
  }

  .banner-content h2 {
    font-size: 1rem;
    margin: 0;
  }

  .banner-content p {
    font-size: 0.5rem !important;
    margin: 2px 0;
  }
}